{
    "user": {
        "first_name": [
            "Jeremy",
            "Nereo"
        ],
        "last_name": [
            "Mallett",
            "Montoya"
        ]
    },
    "restaurant": {
        "name": [
            "The Swan",
            "Little Italy"
        ]
    },
    "menu_item": {
        "name": [
            "Fish and Chips",
            "Beef Burger",
            "Shepherd's Pie",
            "Bangers and Mash",
            "Steak and Ale Pie",
            "Ploughman's Lunch",
            "Chicken Curry",
            "Jacket Potato",
            "Nachos",
            "Chicken Wings",
            "Mozzarella Sticks",
            "Onion Rings",
            "Garlic Bread",
            "Prawn Cocktail",
            "Soup of the Day",
            "Stuffed Mushrooms",
            "Sticky Toffee Pudding",
            "Apple Crumble",
            "Chocolate Brownie",
            "Bread and Butter Pudding",
            "Eton Mess",
            "Lemon Tart",
            "Banoffee Pie",
            "Trifle",
            "Chocolate Fudge Cake"
        ],
        "description": []
    },
    "order": {
        "notes": []
    },
    "face": {}
}
